@model IEnumerable<GoAround.Models.Place>

@{
    ViewData["Title"] = "Places";
}

<h1>Places</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table sortable">
    <thead>
        <tr>
            <th>
                <a href="#">Category</a>
            </th>
            <th>
                <a href="#">UserId</a>
            </th>
            <th>
                <a href="#">Name</a>
            </th>
            @*photo*@
            <th class="sorttable_nosort">
            </th>
            <th>
                <a href="#">Country</a>
            </th>
            <th>
                <a href="#">City</a>
            </th>
            @*address*@
            <th class="sorttable_nosort">
            </th>
            @*description*@
            <th class="sorttable_nosort">
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Photo != null)
                {
                    <img src="~/img/places/@item.Photo" alt="Place Photo" class="thumb" />
                }
                else
                {
                    <img src="~/img/places/placeholder.png" alt="Place Photo" class="thumb" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
